lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
node_modules
public/img
public/js
public/css

npm-debug.log

.vim_bup.vim
.compiled_javascripts
.dump
test/casperPlayground.coffee
