<script type="text/template" id="company-content-template">
  <div class="row-fluid">
    <ul class="unstyled inline">
      <li><h2 class='text-info'> <%= name %> </h2></li>
      <li> &nbsp &nbsp &nbsp &nbsp &nbsp</li>
      <li><h4>Creator</h4></li>
      <li>Jordan Lund</li>
      <li> <h4>|</h4> </li>
      <li><h4>Date Created</h4></li>
      <li><%= new Date(dateCreated).toDateString() %></li>
      <li><h4>Subscription</h4></li>
      <li>
        <%= subscriptionType.charAt(0).toUpperCase() + subscriptionType.slice(1) %>
      </li>
      <% if (subscriptionType === 'trial') { %>
        <li class="pull-right inline-btn">
          <button type="button" class="btn btn-success" id='upgrade-btn'>
            <i class='icon-arrow-up'></i>
            Upgrade
          </button>
        </li>
      <% } %>
    </ul>
    <hr />
  </div>
  <div class="span3">
    <h3>Summary</h3>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td># Customers</td>
          <td><strong><%= custTotal %></strong></td>
        </tr>
        <tr>
          <td># Employees</td>
          <td><strong><%= empTotal %></strong></td>
        </tr>
        <tr>
          <td># Suppliers</td>
          <td><strong><%= suppliersTotal %></strong></td>
        </tr>
        <tr>
          <td># Products</td>
          <td><strong><%= productsTotal %></strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span2 offset1">
    <h3>Tax Rate</h3>
    <div class="">
      <div id='tax-rate-div'> </div>
      <div class="input-append">
        <input class="input-small" type="text"
        id="tax-rate-input" value="<%= taxRate %>" />
        <span class="add-on">%</span>
      </div>
      <button type="button" class="btn btn-info" id='tax-btn' disabled>
        Save Rate
      </button>
      <button type="button" class="btn btn-small" id='tax-cancel-btn'>
        Cancel
      </button>
    </div>
  </div>
  <div class="span3 offset1">
    <h3>Stores</h3>
    <div class="">
      <table class="table table-striped">
        <tbody id='stores-table-body'>
          <tr>
            <td>
              <input type="text" class='input-medium'
                id="new-store-input" value="" />
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-info" id='store-btn' disabled>
        Add Store
      </button>
      <button type="button" class="btn btn-small" id='store-cancel-btn'>
        Clear
      </button>
    </div>
  </div>
</script>

<script type="text/template" id="trial-upgrade-template">
  <div class="modal hide fade" id='upgrade-modal'>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"
        aria-hidden="true">&times;</button>
      <h3>Upgrades are currently not offered...</h3>
    </div>
    <div class="modal-body">
      <p>As it stands, there is no way to 'upgrade' this account. Gofer is a
      college project and not for actual commercial use.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" id='close-upgrade-modal'>Close</button>
    </div>
  </div>
</script>

<script type="text/template" id="company-content-templateinrsietn">
</script>


