<!--finance list view templates-->
<script type="text/template" id="finances-table-template">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Employee</th>
        <th>Customer</th>
        <th>Products</th>
        <th>Date Created</th>
      </tr>
    </thead>
    <tbody id="finances-table-list">
    </tbody>
  </table>
</script>
<script type="text/template" id="finance-tr-template">
  <td>
    <a href='#' id='item-view-eye-link'><i class='icon-eye-open'></i><a>
    <%= _id %>
  </td>
  <td><%= employeeEmail  || "N/A" %> </td>
  <td><%= obj.customerEmail || "N/A" %> </td>
  <td><%= products.length %> </td>
  <td> <%= new Date(dateCreated).toDateString() %> </p> </td>
</script>
<script type="text/template" id="sale-store-names-template">
  <div class="row-fluid">
    <label class='inline pull-right'>
      Store
      <select id='store-name-select'>
      </select>
    </label>
  </div>
</script>
<!--finance list view templates-->


