<script type="text/template" id="inventory-content-template">
  <div id='inventory-view-head'> </div>
  <div id='inventory-view-body'> </div>
</script>

<!--helpers-->
<script type="text/template" id="store-names-template">
  <div class="row">
    <label class='inline pull-right'>
      Store
      <select id='store-name-select'>
      </select>
    </label>
  </div>
</script>
<script type="text/template" id="product-view-supplier-name-template">
  <address>
    <strong>Supplier</strong><br>
    <%= name %>
  </address>
</script>
<!--helpers-->

<!--product list view templates-->
<script type="text/template" id="products-table-template">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Order Refnum</th>
      </tr>
    </thead>
    <tbody id="products-table-list">
    </tbody>
  </table>
</script>
<script type="text/template" id="product-tr-template">
  <td>
    <a href='#' id='item-view-eye-link'><i class='icon-eye-open'></i><a>
    <i class='icon-pencil'></i>
    <i class='icon-trash'></i>
    <%= description.name %>
  </td>
  <td><%= description.brand %> </td>
  <td><%= category %> </td>
  <td><%= price * 0.01 %> </td>
  <td><%= totalQuantity %> </td>
  <% if (obj._order) { %>
    <td><%= _order.referenceNum %> </td>
  <% } %>
</script>
<!--product list view templates-->






<!--product single view templates-->
<script type="text/template" id="product-view-template">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <ul class="nav nav-list well">
          <li class="nav-header">Tools</li>
          <li><a href="#"><i class='icon-pencil'></i> Edit</a></li>
          <li><a href="#"><i class='icon-trash'></i> Delete</a></li>
        </ul>
        <ul class="pager">
          <li id='product-item-prev-link'><a
            href="#">Previous</a></li>
          <li id='product-item-next-link'><a href="#">Next</a></li>
        </ul>
      </div>
      <div id='product-view-content' class="span10">
      </div>
    </div>
  </div>
</script>
<script type="text/template" id="product-view-content-template">
  <div class="row-fluid">
    <h3><%= description.name %></h3>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <p class="lead"><%= description.brand %></p>
      <address>
        <strong>Order</strong><br>
        <% if (obj._order) { %>
          <%= _order.referenceNum %>
        <% } else { %>
          N/A
        <% } %>
      </address>
      <div id="product-view-supplier-name"> </div>
    </div>
    <div class="span8">
      <p> <strong> Category</strong><br>
      <%= category %>
      <p> <strong> Price</strong><br>
      <%= price * 0.01 %>
      <p> <strong> Date Added </strong><br>
      <%= new Date(dateCreated).toDateString() %>
      <p> <strong> Total In Stock </strong><br>
      <%= totalQuantity %>
      <div id="sub-quantity-totals"> </div>
    </div>
  </div>
</script>
<script type="text/template" id='product-view-sub-quantity-template'>
  <p> <strong> Sub Totals </strong><br>
  <table class="table table-bordered table-hover">
    <thead>
        <tr id='product-sub-quantity-thead-tr'>
        </tr>
    </thead>
    <tbody id="inventory-table-list">
      <tr id="product-sub-quantity-tbody-td"></tr>
    </tbody>
  </table>
</script>
<!--product single view templates-->


<!--product create view templates-->
<script type="text/template" id="product-create-template">
  <form id='create-product-form'>
    <div class="row-fluid">
      <div class="span3 ">
        <div class="control-group">
          <label class="control-label" for="name-input">Name</label>
          <div class="controls">
            <input type="text" name="productName" id="name-input" placeholder="Nexus 4">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Brand</label>
          <div class="controls">
            <input type="text" id="brand-input" name='brand' placeholder="Google">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Category</label>
          <div class="controls">
            <input type="text" id="category-input" name='category' placeholder="Smart Phones">
          </div>
        </div>
      </div>
      <div class="span3">
        <div id="product-create-store-names"></div>
        <div id="product-create-supplier-names"></div>
        <div class="control-group">
          <label class="control-label">Price</label>
          <div class="controls">
            <input type="text" id='price-input' name='price' placeholder="299.99">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Cost</label>
          <div class="controls">
            <input type="text" id='cost-input' name="cost" placeholder="199.99">
          </div>
        </div>
      </div>
      <div class="span6">
        <div id="grand-total-quantity-content">
          <div class="control-group">
            <label class="control-label">Grand Total Quantity</label>
            <div class="controls">
              <input type="text" id='grand-total-input' name="grandTotal" placeholder="9">
            </div>
          </div>
        </div>
        <div id="sub-total-quantity-content"> </div>
        <hr />
        <label class="radio">
          <input type="radio" name="totalOptionsRadio" id="total-quantity-radio"
          value="grand-total-selected" checked>
          by grand total
        </label>
        <label class="radio">
          <input type="radio" name="totalOptionsRadio" id="sub-quantity-radio"
          value="sub-total-selected">
          by sub totals
        </label>
        <span class="help-block">Store quantity based on total amount
          <strong>or</strong> by size, length, color, etc</span>
      </div>
    </div>
    <hr />
    <div class="row-fluid">
      <div class="span3 offset9 ">
        <input type="submit" id='create-new-product-button'
        class="btn btn-primary" value='Create'>
        <input type="button" id='clear-new-product-button'
        class="btn" value='Clear'>
      </div>
    </div>
  </form>
  <div id="sub-total-quantity-modal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close"
        data-dismiss="modal"
        aria-hidden="true">&times;</button>
      <h3>Sub Total Headings</h3>
    </div>
    <div class="modal-body">
      <hr />
      <fieldset>
        <label>Measurement Type</label>
        <input id="measurement-type-input" type="text" placeholder="eg:
        Size, Color, or Length" value="size">
        <span class="help-block">specify the measurement differentiator</span>
      </fieldset>
      <hr />
      <label>Measurement Values</label>
      <input id="measurement-values-input" class="input-xxlarge" type="text"
      placeholder="small, med, large", value="small, med, large">
      <span class="help-block">if your measurement type is 'size' above,
        you could, for example, put 'small, med, large, xlarge'
        separeted by commas below
      </span>
      <hr />
    </div>
    <div class="modal-footer">
      <a href="#" id="cancel-sub-total-options" class="btn">Cancel</a>
      <a href="#" id='save-sub-total-options' class="btn btn-primary">Create</a>
      </div>
    </div>
  </div>
</script>
<script type="text/template" id="product-create-store-names-template">
  <label>
    Store
  </label>
  <select id='store-name-select'> </select>
</script>
<script type="text/template" id="product-create-supplier-names-template">
  <label>
    Supplier
  </label>
  <select id='supplier-name-select'><option></option> </select>
</script>
<!--product create view templates-->
