<!--sale construct view templates-->
<script type="text/template" id="sales-skeleton-template">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#process-content">Process</a>
    </li>
    <li class="disabled">
      <a href="#payment-content">Payment</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="process-content">
      <div class="row-fluid">
        <div class="span9">
          <div class="">
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Inventory Selection
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <ul class='inline'>
                      <li>
                        <div class="input-append">
                          <input class="input-medium" id="appendedInputButton"
                          type="text">
                          <button class="btn" type="button">Name</button>
                        </div>
                      </li>
                      <li>
                        <div class="input-append">
                          <input class="input-medium" id="appendedInputButton"
                          type="text">
                          <button class="btn" type="button">Brand</button>
                        </div>
                      </li>
                      <li>
                        <select id='store-name-select'>
                        </select>
                      </li>
                    </ul>
                    <div id="products-table-id"> </div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Customer Selection
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div class="row-fluid">
                      <p class='lead'>Customers</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="well">
            <div id="transaction-list" class="row-fluid">
            </div>
          </div>
          <div class="well">
            <div class="row-fluid">
              <legend>Customer</legend>
            </div>
          </div>
          <ul class="pager inline">
            <li>
              <button class="btn btn-danger" type="button">Cancel</button>
            </li>
            <li class="divider-vertical"> </li>
            </li>
            <li>
              <button class="btn btn-large btn-success" type="button">
                Payment
              </button>
            </li>
          </ul>
      </div>
    </div>
    <div class="tab-pane" id="payment-content">
    </div>
  </div>
</script>
<!--sale construct view templates-->

<!--sale product list view templates-->
<script type="text/template" id="sale-products-table-template">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody id="products-table-list">
    </tbody>
  </table>
</script>
<script type="text/template" id="sale-product-tr-template">
  <td>
    <a href='#' id='product-purchase-link'><i class='icon-ok'></i><a>
    <%= description.name %>
  </td>
  <td><%= description.brand %> </td>
  <td><%= category %> </td>
  <td><%= price * 0.01 %> </td>
  <td><%= storeQuantityCount %> </td>
</script>
<!--product list view templates-->
<script type="text/template" id="add-to-transaction-template">
  <div id="add-to-transaction-modal" class="modal hide fade"
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"
        aria-hidden="true">×</button>
      <h3 id="myModalLabel">
        Add Product To Transaction
      </h3> 
    </div>
    <div class="modal-body">
      <p class="lead">
        <strong>Name: </strong> <%= description.name %>
      </p>
      <p class="lead">
        <strong>Brand: </strong> <%= description.brand  %>
      </p>
      <div id="add-to-transaction-alert"></div>
      <% if (primaryMeasurementFactor === null) { %>
        <p> <strong> Total In Stock </strong><br />
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Available</th>
              <td class='measurements-available'>
                <%= individualProperties.length %>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Quantity</td>
              <td class='quantity-to-add'>
                <input class="input-mini" type="text" value="0">
              </td>
            </tr>
          </tbody>
        </table>
      <% } else { %>
        <p id="sub-quantity-totals"> </p>
      <% } %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal"
        aria-hidden="true">Cancel</button>
       <a href="#" id='confirm-add-button' class="btn btn-primary">Add</a>
    </div>
  </div>
</script>
<script type="text/template" id='transaction-li-template'>
  <strong><%= description.name %></strong> X <%= individualProperties.length %>
</script>
<script type="text/template" id='sale-transaction-list-template'>
  <legend>Transaction Items</legend>
  <ul id='transaction-ul'>
  </ul>
</script>
<script type="text/template" id='sale-product-view-sub-quantity-template'>
    <strong> Sub Totals </strong><br>
    <table class="table table-bordered table-hover">
      <thead>
          <tr id='product-sub-quantity-thead-tr'>
          </tr>
      </thead>
      <tbody id="inventory-table-list">
        <tr id="product-sub-quantity-available-td"></tr>
        <tr id="product-sub-quantity-wanted-td"></tr>
      </tbody>
    </table>
</script>
