extends layout

block content

  div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
      div.container-fluid
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") Gofer
        div.nav-collapse.collapse
        if user
          p.navbar-text.pull-right Logged in as #{user}
        else
          form.navbar-form.pull-right(action='/login', method='post')
            input.span2(id="username", type="text", name="username", placeholder="Email")
            input.span2(id="password", type="password", name="password", placeholder="Password")
            button.btn(type="submit") Sign In
          p.navbar-text.pull-right Login or <a href="#register", data-toggle='modal'> Sign up &nbsp;&nbsp;</a>
        ul.nav
          if user
            li.active
              a(href="#") Store Home
            li
              a(href="#about") About
            li
              a(href="#contact") Contact
          else
            li.active
              a(href="#demo") Demo
            li
              a(href="#learn-more") Learn More
            li
              a(href="#about") About
            li
              a(href="#contact") Contact

  div.container-fluid
    div.row-fluid
      div.span3
        div.well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Menu
            li
              a.disabled Point Of Sale
            li
              a.disabled Inventory
            li
              a.disabled Staff
            li
              a.disabled Accounting
      div.span9
        div.hero-unit
          h1 Welcome.
          p An easier way to manage your business

    div.modal.hide.fade.in(id='register', style='display:none;')
      div.modal-header
        a.close(data-dismiss="modal") ×
        h3 Sign Up
      div.modal-body
        h4 Fill In The Blanks
        form#register-form.form-horizontal.form-control(action='/register', method='post')
          div.control-group
            label.control-label(for="inputEmail") Email
            div.controls
              input#inputEmail(type='text', name='email', placeholder='barbara@gmail.com')
          div.control-group
            label.control-label(for="inputPassword") Password
            div.controls
              input#inputPassword(type='password', name='password', placeholder='topsecretpassword')
          div.control-group
            label.control-label(for="inputPassword2") Confirm Password
            div.controls
              input#inputPassword2(type='password', name='password2', placeholder='topsecretpassword')
          div.control-group
            label.control-label(for="inputFullName") Your Full Name
            div.controls
              input#inputFullName(type='text', name='fullName', placeholder='Barbara Foosie')
          div.control-group
            label.control-label(for="inputCompanyName") Your Company Name
            div.controls
              input#inputCompanyName(type='text', name='companyName', placeholder="Barb's Hardware")
      div.modal-footer
        a#signupCancel.btn(href='#', data-dismiss="modal") Cancel
        a#signupConfirm.btn.btn-primary(href='#') Sign Up


  script(type='text/javascript', src='javascripts/vender/jquery.validate.js')
  // script(type='text/coffeescript', src='javascripts/signup.coffee')
  script(type='text/javascript', src='javascripts/signup.js')
