doctype 5
html
  head
    title= "Gofer - " + title

    // vendor styling
    link(rel='stylesheet', href='css/bootstrap.css')

    // Gofer styling
    link(rel='stylesheet', href='css/#{stylesheet}.css')

  body

    // vendor scripts
    script(src='js/vendor/jquery-1.8.3.min.js')
    script(src='js/vendor/jquery.validate.js')
    script(src='js/vendor/underscore-1.4.4.js')
    script(src='js/vendor/backbone-0.9.10.js')
    script(src='js/vendor/bootstrap-2.2.2.js')

    // Gofer templates

    // Gofer scripts
    script(src='js/product.js')
    script(src='js/products.js')
    // script(src='js/routes.js')
    // script(src='js/boot.js')

    block content
    block signup
