doctype 5
html
  head
    title= "Gofer - " + title
    link(rel='stylesheet', href='./../../stylesheets/#{stylesheet}.css')
    link(rel='stylesheet', href='./../../stylesheets/bootstrap.css')
    script(src='./../../javascripts/bootstrap.js')
  body
    #header
      h1 Gofer
    block content
