doctype 5
html
  head
    title= "Gofer"

    // vendor styling
    // link(rel='stylesheet', href='css/bootstrap.sleek.min.css')
    // link(rel='stylesheet', href='css/bootstrap.spruce.min.css')
    // link(rel='stylesheet', href='css/bootstrap.readable.min.css')
    link(rel='stylesheet', href='css/bootstrap.cosmo.min.css')
    // link(rel='stylesheet', href='css/bootstrap.css')

    // Gofer styling
    link(rel='stylesheet', href='css/#{stylesheet}.css')

  body

    // vendor scripts
    script(src='js/vendor/jquery-1.8.3.min.js')
    script(src='js/vendor/jquery.validate.js')
    script(src='js/vendor/underscore-1.4.4.js')
    script(src='js/vendor/backbone-0.9.10.js')
    script(src='js/vendor/bootstrap-2.2.2.js')

    block content

    if user != null
      // Gofer templates
      // script(type='text/html', src='tml/inventory_templates.html')
      include ../public/tml/inventory_templates.html

      // gofer scripts
      script(src='js/product.js')
      script(src='js/products.js')
      script(src='js/inventory_views.js')
      script(src='js/main_app_view.js')
      script(src='js/routers.js')
