doctype 5
html
  head
    title= "Gofer - " + title
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/#{stylesheet}.css')
    script(src='javascripts/vendor/jquery-1.8.3.min.js')
    script(src='javascripts/vendor/bootstrap.min.js')
  body
    // #header
    //   h1 Gofer
    block content
