extends layout

block content

  // Top Navbar
  // div#someID.navbar
  div#someID.navbar.navbar-inverse
    div.navbar-inner
      div.container
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") Gofer
        div.nav-collapse
          ul.nav.pull-right
            li
              p.navbar-text.pull-right <a href="/logout", data-toggle='modal'> Sign out </a>
            li.divider-vertical
            li
              p.navbar-text.pull-right #{user.name.first} #{user.name.last}
          ul.nav
            li
              a(href="#") Help

  if info_alert != ''
    div.alert.alert-success
      a.close(href="#", data-dismiss="alert") &times;
      <strong>Wahoo!</strong> #{info_alert}
  if error_alert != ''
    div.alert.alert-error
      button.close(type="button", data-dismiss="alert") &times;
      <strong>Uh Oh!</strong> #{error_alert}
  div#main-alert-div

  div#main.container-fluid
    div.row-fluid
      div.span2
        div#main-nav.well.sidebar-nav
          ul.nav.nav-list
            li.nav-header General
            li#dashboard-link.active
              a(href='#dashboard-main-content', data-toggle='tab')
                <i class='icon-th'></i> Dashboard
            li#pos-link
              a(href='#pos-main-content', data-toggle='tab')
                <i class='icon-shopping-cart'></i> Point Of Sale
            li#inventory-link
              a(href='#inventory-main-content', data-toggle='tab')
                <i class='icon-tags'></i> Inventory
            li.nav-header Management
            li#company-link
              a(href='#company-main-content', data-toggle='tab')
                <i class='icon-home'></i> Company
            li#people-link
              a(href='#people-main-content', data-toggle='tab')
                <i class='icon-user'></i> People
            li#finance-link
              a(href='#finance-main-content', data-toggle='tab')
                <i class='icon-book'></i> Finance
      div.span10
        div#main-window-main-content.tab-content.active
          div#dashboard-main-content.tab-pane.active
            div
              div.hero-unit
                h1 Welcome
                  p.lead an easier way to manage your business
          div#pos-main-content.tab-pane
          div#inventory-main-content.tab-pane
            div.page-header
              h1 Inventory <small> everything on one shelf </small>
            div
              ul.nav.nav-pills
                li#product-menu-pill.active
                  a(href='#inventory-main-view', data-toggle='tab') Stock
                li(id-='id-', order-menu-pill='order-menu-pill')
                  a(href='#order-main-view', data-toggle='tab') Orders
              .tab-content
                #inventory-main-view.tab-pane.active
                  .tabbable
                    ul.nav.nav-tabs
                      li#inventory-list-tab.active
                        a(href='#products-list-view-content', data-toggle='tab') List
                      li#inventory-item-tab
                        a(href='#product-item-view-content', data-toggle='tab') View
                      li#inventory-create-tab
                        a(href='#product-create-view-content', data-toggle='tab') Create/Edit
                    .tab-content
                      #products-list-view-content.tab-pane.active
                      #product-item-view-content.tab-pane
                      #product-create-view-content.tab-pane
                #order-main-view.tab-pane
                  .tabbable
                    ul.nav.nav-tabs
                      li.active
                        a(href='#order-list', data-toggle='tab') List
                      li
                        a(href='#order-view', data-toggle='tab') View
                      li
                        a(href='#order-create', data-toggle='tab') Create/Edit
                    .tab-content
                      #order-list.tab-pane.active
                      #order-view.tab-pane
                      #order-create.tab-pane

          div#people-main-content.tab-pane
            div.page-header
              h1 People <small> counting who matters most </small>
            div
              ul.nav.nav-pills
                li#customers-menu-pill.active
                  a(href='#customers-main-view', data-toggle='tab') Customers
                li#employees-menu-pill
                  a(href='#employees-main-view', data-toggle='tab') Staff
                li#suppliers-menu-pill
                  a(href='#suppliers-main-view', data-toggle='tab') Suppliers
              .tab-content
                #customers-main-view.tab-pane.active
                  .tabbable
                    ul.nav.nav-tabs
                      li#customers-list-tab.active
                        a(href='#customers-list-view-content', data-toggle='tab') List
                      li#customer-item-tab
                        a(href='#customer-item-view-content', data-toggle='tab') View
                      li#customer-create-tab
                        a(href='#customer-create-view-content', data-toggle='tab') Create/Edit
                    .tab-content
                      #customers-list-view-content.tab-pane.active
                      #customer-item-view-content.tab-pane
                      #customer-create-view-content.tab-pane
                #employees-main-view.tab-pane
                  .tabbable
                    ul.nav.nav-tabs
                      li#employees-list-tab.active
                        a(href='#employees-list-view-content', data-toggle='tab') List
                      li#employee-item-tab
                        a(href='#employee-item-view-content', data-toggle='tab') View
                      li#employee-create-tab
                        a(href='#employee-create-view-content', data-toggle='tab') Create/Edit
                    .tab-content
                      #employees-list-view-content.tab-pane.active
                      #employee-item-view-content.tab-pane
                      #employee-create-view-content.tab-pane
