body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

label.valid {
    /* width: 24px; */
    /* height: 24px; */
    background: url(assets/img/valid.png) center center no-repeat;
    /* display: inline-block; */
    text-indent: -9999px;
    color: green;
}
label.error {
    /* font-weight: bold; */
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
