extends layout

block content
  if message
    p= message
  form(action='/login', method='post')
    label Email
      input(type='text', name='username')
    label Password
      input(type='password', name='password')
    input(type='submit', name='Submit')
